<div class="container">
    <h1 class="text-center">All Contacts</h1>
    <input class="form-control" type="text" name="search" ng-model="searchText" placeholder="Search">
    <div class="table-responsive"> 
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>DOB</th>
                <th>Phone number</th>
                <th>Favorite</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="contact in contacts | filter : searchText | orderBy: 'firstName' ">
                <td><input type="checkbox" ng-model="contact.select" /></td>
                <td>{{contact.firstName + ' ' + contact.lastName}}</td>
                <td>{{contact.dateOfBirth}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td><input type="checkbox" ng-model="contact.fav" /></td>
                <td><button class="btn btn-warning" data-ng-click="editContact(contact.id)">Edit</button></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-primary" role="button" href="#!/add-contact">Add Contact</a>
        </div>
    </div>
</div>